<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:ng="">
<div>
  <form data-th-id="|${appObj.name}Form|" role="form" novalidate="novalidate" class="form">
    <!--<div class="form-group" data-th-each="element : ${editView.elements}">-->
    <!--<div class="col-sm-8">-->
    <!--<div  th:include="${element.templatePath} :: ${element.templateName}" th:with="itemName='selectedItem'">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <th:block th:each="element : ${editView.elements}">
      <th:block th:include="${element.templatePath} :: ${element.templateName}" th:with="modelName='selectedItem'">
      </th:block>
    </th:block>
  </form>
  <div class="row">
    <!-- Alerts -->
    <div class="col-xs-12">
      <uib-alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert( $index )">
        <span>{{ alert.message }}</span>
      </uib-alert>
    </div>
  </div>
</div>
<div class="hbox pack-center">
      <button data-dojo-type="dijit/form/Button">Save</button>
      <button data-dojo-type="dijit/form/Button">Cancel</button>
</div>
</html>