<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:ng="">
<h1 data-th-text="${appObj.label}">Title</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <div class="hbox">
      <div class="btn btn-primary" ng-click="openAddModal()">New</div>
      <div class="btn btn-primary" ng-click="openEditModal()" ng-disabled="!selectedItem">Edit</div>
      <div class="btn btn-primary" ng-click="openDeleteModal()" ng-disabled="!selectedItem">Delete</div>
      <div class="btn btn-success" ng-click="toggleFilterPanel()" th:attr="ng-disabled = |${listView.filterPanel == null}| ">Filter</div>
      <div class="btn btn-success" ng-click="refresh()">Refresh</div>
    </div>
  </div>
  <div data-th-if="${listView.filterPanel != null}" class="panel-body grid-filter-panel" ng-show="showFilterPanel">
    <th:block th:include="${listView.filterPanel.templatePath} :: ${listView.filterPanel.templateName}" th:with="element=${listView.filterPanel}">
    </th:block>
  </div>
  <div class="hbox">
    <div class="spacer" style="flex:1"/>
    <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage"></uib-pagination>
  </div>
  <div>
    <table class="table table-bordered table-hover table-condensed grid-table">
      <thead>
      <th data-th-each="field : ${listView.grid.fields}" th:attr="ng-click = |setOrderBy('${field.name}')|" th:inline="text">
        [[${field.label}]]
        <span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true" th:attr="ng-show = | vm.getHeaderClass('${field.name}') == 'asc' |"></span>
        <span class="glyphicon glyphicon glyphicon-chevron-up" aria-hidden="true" th:attr="ng-show = | vm.getHeaderClass('${field.name}') == 'desc' |"></span>
      </th>
      </thead>
      <tbody>
      <tr ng-repeat="item in items" ng-click="selectItem(item)" ng-class="{'success': item == selectedItem}">
        <td ng-repeat="field in grid.fields"> {{ formatItemValue( item, field) }}</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="hbox">
    <div class="spacer" style="flex:1"/>
    <uib-pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()" items-per-page="itemsPerPage"></uib-pagination>
  </div>
  <div ng:init="|gridName='${gridName}'; grid = '${gridJson}'|" style="display: none"></div>
</div>
</html>