<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="filterPanel">
  <div class="vbox appFilterPanel" data-dojo-type="app/FilterPanel">
    <div data-dojo-type="dijit/form/Form" role="form" novalidate="novalidate" class="form">
      <!--<div class="col-xs-4" data-th-each="element : ${listView.filterPanel.elements}">-->
      <!--<div class="form-group">-->
      <!--<div th:include="${element.templatePath} :: ${element.templateName}" th:with="itemName='filter.item'">-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <th:block th:each="childElement : ${element.elements}" th:with="optionsMap=${element.getOptionsMap()}">
        <th:block th:include="${childElement.templatePath} :: ${childElement.templateName}" th:with="element=${childElement}, modelName='filter.item'">
        </th:block>
      </th:block>
    </div>
    <div class="hbox">
      <button data-dojo-type="dijit/form/Button" class="searchButton">Search</button>
      <button data-dojo-type="dijit/form/Button" class="clearButton" ng-click="clearFilter()">Clear</button>
    </div>
  </div>
</th:block>
</html>