<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="filterPanel">
  <div class="hbox">
    <form data-dojo-type="dijit/form/Form" data-th-id="|${appObj.name}Form|" role="form" novalidate="novalidate" class="form" style="width: 100%">
      <!--<div class="col-xs-4" data-th-each="element : ${listView.filterPanel.elements}">-->
      <!--<div class="form-group">-->
      <!--<div th:include="${element.templatePath} :: ${element.templateName}" th:with="itemName='filter.item'">-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <th:block th:each="childElement : ${element.elements}" th:with="optionsMap=${element.getOptionsMap()}">
        <th:block th:include="${childElement.templatePath} :: ${childElement.templateName}" th:with="element=${childElement}, modelName='filter.item'">
        </th:block>
      </th:block>
    </form>
  </div>
  <div class="hbox">
    <button data-dojo-type="dijit/form/Button">Search</button>
    <button data-dojo-type="dijit/form/Button" ng-click="clearFilter()">Clear</button>
  </div>
</th:block>
</html>