<?xml version="1.0"?>
<app xmlns="http://com.iks.org/schema/app/1.0">
  <appObj name="employee" label="Employees">
    <data url="iks-web/resources/appObj/employee/data.xml"/>
    <list url="iks-web/resources/appObj/employee/list.xml"/>
    <edit url="iks-web/resources/appObj/employee/edit.xml"/>
  </appObj>
  <appObj name="user" label="Users">
    <data url="iks-web/resources/appObj/user/data.xml"/>
    <list url="iks-web/resources/appObj/user/list.xml"/>
    <edit url="iks-web/resources/appObj/user/edit.xml"/>
  </appObj>
  <appObj name="role" label="Roles">
    <data url="iks-web/resources/appObj/role/data.xml"/>
    <list url="iks-web/resources/appObj/role/list.xml"/>
    <edit url="iks-web/resources/appObj/role/edit.xml"/>
  </appObj>
  <appObj name="department" label="Departments">
    <data url="iks-web/resources/appObj/department/data.xml"/>
    <list url="iks-web/resources/appObj/department/list.xml"/>
    <edit url="iks-web/resources/appObj/department/edit.xml"/>
  </appObj>
</app>