<h1 data-th-text="${appObj.label}">Title</h1>

<div class="panel panel-default">
  <div class="panel-heading grid-edit-panel">
    <div class="btn btn-primary" ng-click="openAddModal()">New</div>
    <div class="btn btn-primary" ng-click="openEditModal()" ng-disabled="!selectedItem">Edit</div>
    <div class="btn btn-primary" ng-click="openDeleteModal()" ng-disabled="!selectedItem">Delete</div>
    <div class="btn btn-success" ng-click="toggleFilterPanel()">Filter</div>
    <div class="btn btn-success" ng-click="refresh()">Refresh</div>
  </div>
  <div class="panel-body grid-filter-panel" ng-show="showFilterPanel" data-th-if="${gridView.filterPanel != null}">
    <div class="row">
      <form data-th-id="|${appObj.name}Form|" role="form" novalidate="novalidate" class="form">
        <div class="col-xs-4" data-th-each="element : ${gridView.filterPanel.elements}">
          <div class="form-group">
            <label data-th-for="${element.name}" class="control-label" data-th-text="${element.label}">Label</label>
            <div data-th-if="${element.type == 'input'}">
              <input type="text" data-th-if="${element.type == 'input'}" class="form-control" data-th-id="${element.name}" data-th-attr="ng-model = |filter.item.${element.name}|"/>
            </div>
            <div data-th-if="${element.type == 'select'}">
              <select type="text" class="form-control" data-th-id="${element.name}" data-th-attr="ng-model = |filter.item.${element.name}|">
                <option data-th-if="${!element.required}" value=""></option>
                <option data-th-value="${option.value}" data-th-each="option : ${element.options}" data-th-text="${option.label}">Option Label</option>
              </select>
            </div>
            <div data-th-if="${element.type == 'referenceSelect'}">
              <select type="text" class="form-control" data-th-id="${element.name}" data-th-attr="ng-model = |filter.item.${element.name}|">
                <option data-th-if="${!element.required}" value=""></option>
                <option data-th-value="${option.value}" data-th-each="option : ${element.options}" data-th-text="${option.label}">Option label</option>
              </select>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="btn btn-primary" ng-click="search()">Search</div>
      </div>
    </div>
  </div>
  <table class="table table-bordered table-hover table-condensed">
    <thead>
    <th data-name="${field.name}" data-th-each="field : ${gridView.grid.fields}" data-th-text="${field.label}">
      Value
    </th>
    </thead>
    <tbody>
    <tr ng-repeat="item in items" ng-click="selectItem(item)" ng-class="{'success': item == selectedItem}">
      <td ng-repeat="field in grid.fields"> {{ item[field.name] }}</td>
    </tr>
    </tbody>
  </table>
  <div data-th-attr="ng-init = |gridName='${gridName}'; grid = '${gridJson}'|" style="display: none"></div>
</div>