.gradle/
.idea/
build/
out/
*.iml
*.ipr
*.iws
desktop.ini
iks-web/src/main/resources/static/assets/bower_components/
iks-web/src/main/resources/static/node_modules/systemjs/.agignore
iks-web/src/main/resources/static/node_modules/
