.nav {
  list-style: none;
}

input.form-control.ng-invalid {
  border-color: red;
}

.grid-table {
  table-layout: fixed;
}

.grid-table th, .grid-table td {
  cursor: default;
}

.grid-filter-panel {
}

.highlight {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  border-radius: 4px;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.sidebar-nav {

}
