<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:ng="">
<head>
  <title>CMS</title>

  <!--<link href="../static/assets/css/bootstrap.min.css" th:href="@{assets/css/bootstrap.min.css}" rel="stylesheet"/>-->
  <!--<link href="../static/assets/css/bootstrap-theme.min.css" th:href="@{assets/css/bootstrap-theme.min.css}" rel="stylesheet"/>-->
  <link href="../static/assets/css/gul.css" th:href="@{assets/css/gul.css}" rel="stylesheet"/>
  <link href="../static/assets/css/main.css" th:href="@{assets/css/main.css}" rel="stylesheet"/>
  <link href="../static/assets/css/dev.css" th:href="@{assets/css/dev.css}" rel="stylesheet"/>
</head>
<body ng-app="app">
<div class="dev-panel" ng-controller="DevPanelController">
  <div ng-include="'assets/app/dev/dev-panel.html'"></div>
</div>
<h1 id="greeting">Hello</h1>

<div class="container">
  <div class="row">
    <div class="col-xs-2">
      <nav class="sidebar-nav">
        <ul class="nav nav-pills nav-stacked">
          <li data-th-each="appObj : ${appObjList}" ui-sref-active="active">
            <a ng:sref="|appObjListView({appObj:'${appObj.name}'}) |" data-th-text="${appObj.label}">Link</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="col-md-10" ui-view="">
    </div>
  </div>
  <footer>
    <p>&copy; IKaynov.ru 2016</p>
  </footer>
</div>
<!-- libs -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js}"></script>
<script>
  var dojoConfig = {
    async   : true,
    baseUrl : 'assets',
    packages: [
      'dojo',
      'dijit',
      'dojox',
      'app',
    ],
    map: {
      // Instead of having to type "dojo/domReady!", we just want "ready!" instead
      "*": {
        ready: "dojo/domReady"
      }
    },
  };
</script>
<script src="assets/dojo/dojo.js"></script>
<script>
  // Require the registry, parser, Dialog, and wait for domReady
  require(["dijit/registry", "dojo/parser", "dojo/json", "dojo/_base/config", "dijit/Dialog", "ready!"]
      , function(registry, parser, JSON, config) {
        // Explicitly parse the page
        parser.parse();
        // Find the dialog
        var dialog = registry.byId("dialog");
        // Set the content equal to what dojo.config is
        dialog.set("content", "<pre>" + JSON.stringify(config, null, "\t") + "```</pre>");
        // Show the dialog
        dialog.show();
      });
</script>

<!-- and later in the page -->
<div id="dialog" data-dojo-type="dijit/Dialog" data-dojo-props="title: 'dojoConfig / dojo/_base/config'"></div>
</body>
</html>