<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:ng="">
<head>
  <title>CMS</title>

  <!--<link href="../static/assets/css/bootstrap.min.css" th:href="@{assets/css/bootstrap.min.css}" rel="stylesheet"/>-->
  <!--<link href="../static/assets/css/bootstrap-theme.min.css" th:href="@{assets/css/bootstrap-theme.min.css}" rel="stylesheet"/>-->
  <link href="assets/dijit/themes/claro/claro.css" rel="stylesheet"/>
  <link href="assets/dgrid/css/dgrid.css" rel="stylesheet"/>
  <link href="assets/dgrid/css/skins/claro.css" rel="stylesheet"/>
  <link href="../static/assets/css/gul.css" th:href="@{assets/css/gul.css}" rel="stylesheet"/>
  <link href="../static/assets/css/app.css" th:href="@{assets/css/app.css}" rel="stylesheet"/>
  <link href="../static/assets/css/main.css" th:href="@{assets/css/main.css}" rel="stylesheet"/>
  <link href="../static/assets/css/dev.css" th:href="@{assets/css/dev.css}" rel="stylesheet"/>

</head>
<body ng-app="app" class="claro app">
<div class="dev-panel" ng-controller="DevPanelController">
  <div ng-include="'assets/app/dev/dev-panel.html'"></div>
</div>
<div id="appLayout" class="demoLayout" data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="|design: 'headline'|">
  <div id='mainContent' class="centerPanel" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="|region: 'center'|">
  </div>
  <div class="edgePanel" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="|region: 'top'|">CMS

  </div>
  <div id="leftCol" class="edgePanel" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="|region: 'left', splitter: true|">
    <div data-dojo-type="app/navTree" id="navTree"></div>
  </div>
  <!--<div id="bottomCol" class="bottomPanel" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="|region: 'bottom'|">Bottom content-->
  <!--</div>-->
</div>
<!-- libs -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js}"></script>-->
<script src="../static/assets/js/lib/lodash.js" th:src="@{assets/js/lib/lodash.js}"></script>

<script>
  var dojoConfig = {
    async      : true,
    baseUrl    : 'assets',
    parseOnLoad: false,
    packages   : [
      'dojo',
      'dijit',
      'dojox',
      'dgrid',
      'dstore',
      'app'
    ],
    map        : {
      // Instead of having to type "dojo/domReady!", we just want "ready!" instead
      "*": {
        ready: "dojo/domReady"
      }
    }
  };
</script>
<script src="assets/dojo/dojo.js"></script>
<!--<script src="//ajax.googleapis.com/ajax/libs/dojo/1.10.4/dojo/dojo.js"></script>-->
<script>
  require( [ "dojo/parser" ], function ( parser ) {
    parser.parse();
  } );
</script>
</body>
</html>