<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:ng="">

<th:block th:fragment="table">
  <table class="table table-bordered table-hover table-condensed grid-table">
    <thead>
    <th data-th-each="column : ${element.columns}" th:attr="ng-click = |setOrderBy('${column.fieldName}')|" th:inline="text">
      [[${column.label}]]
      <span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true" th:attr="ng-show = | vm.getHeaderClass('${column.fieldName}') == 'asc' |"></span>
      <span class="glyphicon glyphicon glyphicon-chevron-up" aria-hidden="true" th:attr="ng-show = | vm.getHeaderClass('${column.fieldName}') == 'desc' |"></span>
    </th>
    </thead>
    <tbody>
    <tr ng-repeat="item in items" ng-click="selectItem(item)" ng-class="{'success': item == selectedItem}">
      <td ng-repeat="column in grid.columns"> {{ formatItemValue( item, column) }}</td>
    </tr>
    </tbody>
  </table>
</th:block>
</html>