<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="filterPanel">
  <div class="row">
    <form data-th-id="|${appObj.name}Form|" role="form" novalidate="novalidate" class="form-inline">
      <!--<div class="col-xs-4" data-th-each="element : ${gridView.filterPanel.elements}">-->
      <!--<div class="form-group">-->
      <!--<div th:include="${element.templatePath} :: ${element.templateName}" th:with="itemName='filter.item'">-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
      <th:block th:each="element : ${gridView.filterPanel.elements}">
          <th:block th:include="${element.templatePath} :: ${element.templateName}" th:with="itemName='filter.item'">
          </th:block>
      </th:block>
    </form>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn btn-primary" ng-click="search()">Search</div>
    </div>
  </div>
</th:block>
</html>