<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:ng="">
<th:block th:fragment="grid">
  <div class="grid" th:styleappend="${element.style}" th:classappend="${element.cssClass}">
    <div class="grid-row hbox" th:each="row,rowStat : ${element.rows}">
      <div class="grid-column vbox" th:each="column,columnStat : ${element.columns}" th:styleappend="${column.style}" th:class="${column.cssClass}">
        <th:block th:include="gul/element :: element" th:if="${#lists.size(row.elements) > columnStat.index}" th:with="element=${row.elements[columnStat.index]}"/>
      </div>
    </div>
  </div>
</th:block>
</html>