.box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.hbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-shrink: 1;
}

.vbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  /*height: 100%;*/
  flex-direction: column;
}

.hbox.pack-start, .vbox.pack-start {
  align-items: flex-start;
}

.hbox.pack-center, .vbox.pack-center {
  justify-content: center;
}

.hbox.pack-end, .vbox.pack-end {
  justify-content: flex-end;
}

.hbox.align-start, .vbox.align-start {
  align-items: flex-start;
}

.hbox.align-center, .vbox.align-center {
  align-items: center;
}

.hbox.align-end, .vbox.align-end {
  align-items: flex-end;
}

.hbox.align-stretch, .vbox.align-stretch {
  align-items: stretch;
}

.hbox.align-baseline, .vbox.align-baseline {
  align-items: baseline;
}

.field-group {
  margin-bottom: 10px;
  margin-right: 10px;
}

.field-group > label {
  display: block;
}

.field-group .k-textbox, .field-group .k-dropdown, .field-group .input-group {
  width: 100%;
}

.fieldbox {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.fieldbox > .field-group {
  display: flex;
  margin-right: 0;
  width: 100%;
  flex-shrink: 0;
}

.fieldbox > .field-group > .field {
  flex: 1;
}

.fieldbox > .field-group > label {
  width: 150px;
  margin-right: 10px;
  display: block;
  flex-shrink: 0;
  vertical-align: middle;
}

.fieldbox > .field-group > input[type="checkbox"] {
  margin-left: 160px;
  flex-shrink: 0;
}

.k-checkbox-label, .fieldbox > .field-group > .k-checkbox-label {
  display: inline;
  flex-shrink: 1;
}

.field-group > .k-checkbox-label {
  display: inline;
}

.grid {
  width: 100%;
}

.filter-panel {
  padding: 10px;
}
