html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#appLayout {
  height: 100%;
}
#leftCol {
  width: 14em;
}

#bottomCol {
  height: 15px;
}

.claro .demoLayout .edgePanel {
  background-color: #d0e9fc;
}

.dgrid-row-table {
  height: auto;
}

.dgrid {
  height: 100%;
  flex: 1;
}

