html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  /*padding: 0;*/
  /*border: 0;*/
  font: inherit;
  /*font-size: 100%;*/
  /*vertical-align: baseline;*/
  box-sizing: border-box;
}

html {
  /*line-height: 1;*/
  font: 75% 'Lucida Sans Unicode', 'Lucida Grande', arial, helvetica, sans-serif;
}

table {
  font: inherit;
}

ol, ul {
  list-style: none;
}

.grid-table th, .grid-table td {
  cursor: default;
}

.sidebar-nav {

}

.hbox > .form-control, .hbox > .input-group, .hbox > .k-textbox {
  min-width: 10px;
  width: auto;
  flex: 1 0 0;
}

.vbox > .form-control {
  align-self: stretch;
}

.hbox > label {
  flex-shrink: 0;
}

.modal-error .message {
  word-break: break-all;
}

.k-button {
  height: 2.13em;
}

.k-tabstrip-wrapper {
  flex: 1;
  display: flex;
  margin-left: 1px;
}

.k-tabstrip-wrapper > .k-tabstrip {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.k-tabstrip-wrapper > .k-tabstrip > .k-content {
  flex: 1;
  height: 100%;
  overflow: auto;
}

.k-tabstrip-wrapper > .k-tabstrip > .k-content.k-state-active {
  display: flex !important;
}

.k-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.k-grid-content {
  flex: 1;
  height: auto;
}

.k-edit-buttons {
  padding-top: 10px;
  width: 100%;
}

.app-table {
  padding-left: 1px;
}

input.k-textbox {
  margin: 0;
  padding: 2px .3em;
  border: 1px solid #dbdbde;
  border-radius: 4px;
}

.input-group .k-textbox {
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.input-group .k-button {
  border-right-width: 0;
  border-radius: 0;
  padding: 2px 0;
  width: 25px;
}

.k-ff input.k-textbox {
  height: 2.13em;
}

.input-group .k-button:last-child {
  border-radius: 0 4px 4px 0;
  border-right-width: 1px;
}

.k-select {
  padding-top: 4px;
}

.k-toolbar > .k-button {
  border: none;
}

.k-window-content > div > div {
  overflow: visible;
}

.grid-frame {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

.grid-block {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.shrink.grid-block {
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  overflow: visible;
}

.vertical.grid-block, .vertical.grid-frame {
  -webkit-flex-flow: column nowrap;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.field-group {
  width: 200px;
}

.k-tabstrip > .k-content {
  margin: 0 4px 4px 4px;
}

.k-toolbar {
  padding: 2px;
}

input[type="checkbox"] {
  margin: 2px 5px 0 0;
}


