html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  /*margin: 0;*/
  /*padding: 0;*/
  /*border: 0;*/
  font: inherit;
  /*font-size: 100%;*/
  /*vertical-align: baseline;*/
  box-sizing: border-box;
}

html {
  /*line-height: 1;*/
  font: 75% 'Lucida Sans Unicode', 'Lucida Grande', arial, helvetica, sans-serif;
}

table {
  font: inherit;
}

ol, ul {
  list-style: none;
}

.k-button {
  margin: 0 0 1px 1px;
}

input {
  margin: 0 0 1px 1px !important;
}

.grid-table th, .grid-table td {
  cursor: default;
}

.sidebar-nav {

}

.hbox > .form-control, .hbox > .input-group, .hbox > .k-textbox {
  min-width: 10px;
  width: auto;
  flex: 1 0 0;
}

.vbox > .form-control {
  align-self: stretch;
}

.hbox > label {
  flex-shrink: 0;
}

.modal-error .message {
  word-break: break-all;
}

.k-button {
  height: 2.13em;
}

.k-tabstrip-wrapper {
  flex: 1;
  display: flex;
  margin-left:1px;
}

.k-tabstrip-wrapper > .k-tabstrip {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.k-tabstrip-wrapper > .k-tabstrip > .k-content {
  flex: 1;
  height: 100%;
  overflow: auto;
}

.k-tabstrip-wrapper > .k-tabstrip > .k-content.k-state-active {
  display: flex !important;
}

.k-grid {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.k-grid-content {
  flex: 1;
  height: auto;
}

.k-edit-buttons {
  padding-top: 10px;
  width: 100%;
}


